html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #777;
	background-color: #eee;
}
@media screen and (min-width: 601px) {
	html, body {
		font-size: 18px;
	}
}
/* Materialize CSS */
.container {
	background-color: #eee;
	color: #777;
	margin: 0 auto;
	max-width: 1920px;
	width: 100%; /* 90%; */
	/*padding: 0 1rem 1rem 1rem;*/
	padding: 0;
}
/*
@media only screen and (min-width: 601px) {
	.container {
		width: 100%;
	}
}
@media only screen and (min-width: 993px) {
	.container {
		width: 100%;
	}
}
*/
/* svg width="1000" height="900" */
/* 900 = x/100 * 1000 => x = 90000/1000 = 90 */
.svg-square-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 90%;
	vertical-align: middle;
	overflow: hidden;
}
/* svg width="1600" height="900" */
/* 900 = x/100 * 1600 => x = 90000/1600 = 56.25  */
.svg-landscape-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	vertical-align: middle;
	overflow: hidden;
}
/* svg width="600" height="900" */
/* 900 = x/100 * 600 => x = 90000/600 = 150 */
.svg-portrait-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 150%;
	vertical-align: middle;
	overflow: hidden;
}
.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.error-message {
	border: 1px solid #f88;
	background-color: #fee;
	padding-left: 1rem;
}
.success-message {
	border: 1px solid #8f8;
	background-color: #efe;
	padding-left: 1rem;
}
/* in DView and UserFeedbackView */
/*.feedback-smiley {
	padding: 5px;
}*/
/* Toasts in Energy prices input and Heating feedback: */
/*#toast-container {
	top: auto !important;
	right: auto !important;
	bottom: 50%;
	left: 25%;
}
.toast {
	border-radius: 2px;
	border: 1px solid #555;
	text-shadow: 1px 1px 2px #000;
	top: 35px;
	width: auto;
	margin-top: 10px;
	position: relative;
	max-width: 100%;
	height: auto;
	min-height: 48px;
	line-height: 1.5em;
	background-color: rgba(14,158,54,0.75);
	padding: 10px 25px;
	font-size: 1.1rem;
	font-weight: 300;
	color: #fff;
}*/
.feedback-text {
	font-size: 24px;
	color: #008245;
}
.small-chart {
	width: 100%;
	height: 300px;
	max-width: 100%;
}
.medium-chart {
	width: 100%;
	height: 400px;
	max-width: 100%;
}
.large-chart {
	width: 100%;
	height: 500px;
	max-width: 100%;
}
.extra-large-chart {
	width: 100%;
	height: 600px;
	max-width: 100%;
}
.chart-wrapper {
	padding: 16px 8px;
	/*border: 1px solid #ccc;*/
}
.dark-theme {
	background-color: #30303d;
	color: #fff;
}
.fetching-info {
	color: #aaa;
	font-size: 14px;
}
.error-info {
	font-size: 24px;
	text-align: center;
}
.note {
	text-align: center;
	border: 2px solid #ccc;
	background-color: #fff;
	color: #555;
	padding: 16px;
}
.my-range-button {
	width: 16.65%;/* 100 / 6 = 16.666667 */
	padding: 6px 0 6px 0;
	background-color: #eee;
	color: #888;
	border-top: 1px solid #fff;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	border-left: 1px solid #fff;
	text-align: center;
}
.my-range-button:hover {
	background-color: #fff;
}
.my-range-button:focus {
	background-color: #eee;
}
.my-range-button.selected {
	background-color: #555;
	border-top: 1px solid #888;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #888;
	color: #fff;
}
.edit-item-field {
	font-size:20px;
	/*color: #26a69a;*/ /* #26a69a teal lighten-1 */
}
.edit-item-field-postfix {
	font-size:18px;
	/*color: #26a69a;*/ /* #26a69a teal lighten-1 */
}
.edit-item-change-number {
	text-align: center;
	font-size:32px;
	font-weight: bold;
}
.edit-item-change-button {
	text-align: center;
}
.edit-item-change-button a i {
	border-top: 1px solid #ccc;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 4px 4px;
	text-align: center;
}
.edit-item-change-button a i:hover {
	border-top: 1px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	border-left: 1px solid #000;
	background-color: #fff;
}
.performance {
	font-size:14px;
	float: right;
	color: #aaa;
}

.value-now-box {
	border-top: 1px solid #fff;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	border-left: 1px solid #fff;
	/*cursor: pointer;*/
}
.temperature-now {
	background-color: #fcc;
}
.humidity-now {
	background-color: #cff;
}
.co2-now {
	background-color: #ffc;
}
.value-now-title {
	font-size: 16px;
	color: #888;
}
.value-now-text {
	font-size: 24px;
	color: #000;
}