.tab-grid {
	text-align: center;
}
.tab-cell {
	padding: 2px 4px;
	background-color: #4db6ac;
	margin-right: 0;
	float: left;
	color: #fff;
	width: 25%; /* Always 4 items in one row */
	cursor: pointer;
	/* We are using also "btn-flat" in TAB class to incorporate Materialize CSS capability 
	to handle also Mobile clicks correctly. Therefore we must overwrite "btn-flat" height 
	and font-size properties with a more suitable values. */
	font-size: 14px;
	height: 50px;
}
.btn-flat {
	border-radius: 0;
}
.tab-grid a i.small {
	font-size: 2rem;
}
.tab-cell:nth-child(1) { 
	border-right: 1px solid #000;
}
.tab-cell:nth-child(2) { 
	border-right: 1px solid #000;
}
.tab-cell:nth-child(3) { 
	border-right: 1px solid #000;
}
/* Always 4 items in one row */
.tab-cell:nth-child( 4n ) { 
	margin-right: 0;
}
/* Always 4 items in one row */
.tab-cell:nth-child( 4n+1 ) { 
	clear:left;
}
/*
#b2dfdb teal lighten-4
#80cbc4 teal lighten-3
#4db6ac teal lighten-2
#26a69a teal lighten-1
#009688 teal
#00897b teal darken-1
#00796b teal darken-2
#00695c teal darken-3
#004d40 teal darken-4
*/
.tab-cell.active {
	background-color: #00897b;
	color: #fff;
}
.tab-cell:hover {
	background-color: #009688;
	color: #fff;
}
/* TWO COLUMNS / NTH-CHILD(2N) AND NTH-CHILD(2N+1) */
@media screen and (min-width: 401px) and (max-width: 600px) {
	.tab-cell {
		padding: 6px 8px;
		font-size: 16px;
		height: 50px;
	}
}
/* THREE COLUMNS / NTH-CHILD(3N) AND NTH-CHILD(3N+1) */
@media screen and (min-width: 601px) and (max-width: 800px) {
	.tab-cell {
		padding: 12px 12px;
		font-size: 18px;
		height: 60px;
	}
}
/* FOUR COLUMNS / NTH-CHILD(4N) AND NTH-CHILD(4N+1) */
@media screen and (min-width: 801px) /*and (max-width: 1000px)*/ {
	.tab-cell {
		padding: 12px 16px;
		font-size: 20px;
		height: 60px;
	}
}
/* FIVE COLUMNS / NTH-CHILD(5N) AND NTH-CHILD(5N+1) */
/*@media screen and (min-width: 1001px) and (max-width: 1200px) {
	.tab-cell {
		font-size: 20px;
		height: 64px;
	}
}*/
/* SIX COLUMNS / NTH-CHILD(6N) AND NTH-CHILD(6N+1) */
/*@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.tab-cell {
		font-size: 20px;
		height: 64px;
	}
}*/
/* SEVEN COLUMNS / NTH-CHILD(7N) AND NTH-CHILD(7N+1) */
/*@media screen and (min-width: 1401px) and (max-width: 1600px) {
	.tab-cell {
		font-size: 20px;
		height: 64px;
	}
}*/
/* EIGHT COLUMNS / NTH-CHILD(8N) AND NTH-CHILD(8N+1) */
/*@media screen and (min-width: 1601px) {
	.tab-cell {
		font-size: 20px;
		height: 64px;
	}
}*/
