/*
Screen Sizes
	Mobile Devices		Tablet Devices		Desktop Devices		Large Desktop Devices
	<= 600px 				> 600px				> 992px				> 1200px

Class Prefix 		.s 		.m 		.l 		.xl
Container Width 	90% 	85% 	70% 	70%
Number of Columns 	12 		12 		12 		12

0.7*1920 = 1344, if max 4 thumbnails per row, one will be 336 px

Mobile    2 (2 x 300)
Tablet    3 (3 x 300)
Desktop   4 (4 x 300)

*/

/*
#e1f5fe light-blue lighten-5
#b3e5fc light-blue lighten-4
#81d4fa light-blue lighten-3
#4fc3f7 light-blue lighten-2
#29b6f6 light-blue lighten-1
#03a9f4 light-blue
#039be5 light-blue darken-1
#0288d1 light-blue darken-2
#0277bd light-blue darken-3
#01579b light-blue darken-4
*/
html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #eee;
	color: #333;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	background-color: #fff;
}
@media only screen and (min-width: 601px) {
	.container {
		width: 100%;
	}
}
@media only screen and (min-width: 993px) {
	.container {
		width: 100%;
	}
}
@media screen and (min-width: 601px) {
	html, body {
		font-size: 18px;
	}
}
.error-message {
	border: 1px solid #f88;
	background-color: #fee;
	padding-left: 1rem;
}
.success-message {
	border: 1px solid #8f8;
	background-color: #efe;
	padding-left: 1rem;
}
.cameras-image-title {
	text-align: center;
	color: #484;
}
/* --------------------------------------------------------------- */
/*                    MAP STYLES:                                  */
/* --------------------------------------------------------------- */
#mapid {
	height: 600px;
	width: 100%;
}
.yellowLabel {
	white-space:nowrap;
	text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
	color: yellow;
}

/* materialize.css:
td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
*/
td, th {
	padding: 5px 5px;
}
/* materialize.css:
table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}
*/
table.striped > tbody > tr:nth-child(odd) {
	background-color: rgba(204, 204, 204, 0.5);
}
/* --------------------------------------------------------------- */
/*                    MENU STYLES:                                 */
/* --------------------------------------------------------------- */
.tab-grid {
	text-align: center;
}
.tab-cell {
	padding: 2px 4px;
	background-color: #4db6ac;
	margin-right: 0;
	float: left;
	color: #fff;
	width: 25%; /* Always 4 items in one row */
	cursor: pointer;
	/* We are using also "btn-flat" in TAB class to incorporate Materialize CSS capability 
	to handle also Mobile clicks correctly. Therefore we must overwrite "btn-flat" height 
	and font-size properties with a more suitable values. */
	font-size: 14px;
	height: 50px;
}
.btn-flat {
	border-radius: 0;
}
.tab-grid a i.small {
	font-size: 2rem;
}
.tab-cell:nth-child(1) { 
	border-right: 1px solid #000;
}
.tab-cell:nth-child(2) { 
	border-right: 1px solid #000;
}
.tab-cell:nth-child(3) { 
	border-right: 1px solid #000;
}
/* Always 4 items in one row */
.tab-cell:nth-child( 4n ) { 
	margin-right: 0;
}
/* Always 4 items in one row */
.tab-cell:nth-child( 4n+1 ) { 
	clear:left;
}
/*
#b2dfdb teal lighten-4
#80cbc4 teal lighten-3
#4db6ac teal lighten-2
#26a69a teal lighten-1
#009688 teal
#00897b teal darken-1
#00796b teal darken-2
#00695c teal darken-3
#004d40 teal darken-4
*/
.tab-cell.active {
	background-color: #00897b;
	color: #fff;
}
.tab-cell:hover {
	background-color: #009688;
	color: #fff;
}
/* TWO COLUMNS / NTH-CHILD(2N) AND NTH-CHILD(2N+1) */
@media screen and (min-width: 401px) and (max-width: 600px) {
	.tab-cell {
		padding: 6px 8px;
		font-size: 16px;
		height: 50px;
	}
}
/* THREE COLUMNS / NTH-CHILD(3N) AND NTH-CHILD(3N+1) */
@media screen and (min-width: 601px) and (max-width: 800px) {
	.tab-cell {
		padding: 12px 12px;
		font-size: 18px;
		height: 60px;
	}
}
/* FOUR COLUMNS / NTH-CHILD(4N) AND NTH-CHILD(4N+1) */
@media screen and (min-width: 801px) /*and (max-width: 1000px)*/ {
	.tab-cell {
		padding: 12px 16px;
		font-size: 20px;
		height: 60px;
	}
}
/* FIVE COLUMNS / NTH-CHILD(5N) AND NTH-CHILD(5N+1) */
/*@media screen and (min-width: 1001px) and (max-width: 1200px) {
	.tab-cell {
		font-size: 20px;
		height: 64px;
	}
}*/
/* SIX COLUMNS / NTH-CHILD(6N) AND NTH-CHILD(6N+1) */
/*@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.tab-cell {
		font-size: 20px;
		height: 64px;
	}
}*/
/* SEVEN COLUMNS / NTH-CHILD(7N) AND NTH-CHILD(7N+1) */
/*@media screen and (min-width: 1401px) and (max-width: 1600px) {
	.tab-cell {
		font-size: 20px;
		height: 64px;
	}
}*/
/* EIGHT COLUMNS / NTH-CHILD(8N) AND NTH-CHILD(8N+1) */
/*@media screen and (min-width: 1601px) {
	.tab-cell {
		font-size: 20px;
		height: 64px;
	}
}*/
.timetable-button {
	cursor:pointer;
	width:40px;
	border-radius: 50%;
	background: #eee;
	margin-bottom: 16px;
}
.timetable-button:hover {
	background: #fff;
}
.timetable-index-page {
	padding: 16px 16px 0 0;
	width: 320px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: #eee;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.timetable-index-page h5 {
	margin: 0 0 5px;
	color: #777;
}
.timetable-index-page-div {
	width: 100%;
	cursor: pointer;
}
.timetable-index-page-div a {
	display: block;
	width: 100%;
	padding: 8px;
	border: 1px solid #888;
}
.timetable-index-page-div:hover {
	background: #fff;
}
