html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	/*background-color: #eee;*/
	color: #333;
}
@media screen and (min-width: 601px) {
	html, body {
		font-size: 18px;
	}
}
.to-top-button {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 20px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: 1px solid #ccc;
	outline: none; /* Remove outline */
	background-color: #eee;
	color: #aaa;
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 50%;
	font-size: 18px; /* Increase font size */
}
.to-top-button:hover { 
	background-color: #fff;
	color: #29b6f6;
	border: 1px solid #bbb;
}
