html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #fff;
	color: #333;
}
@media screen and (min-width: 601px) {
	html, body {
		font-size: 18px;
	}
}
.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%; /* SVG W=1200 H=600 SEE: http://thenewcode.com/744/Make-SVG-Responsive */
	vertical-align: middle;
	overflow: hidden;
}
.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
