html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #777;
	background-color: #eee;
}
@media screen and (min-width: 601px) {
	html, body {
		font-size: 18px;
	}
}
/* Materialize CSS */
.container {
	background-color: #eee;
	color: #777;
	margin: 0 auto;
	/*max-width: 1280px;*/
	max-width: 1920px;
	width: 100%; /* 90%; */
	/*padding: 0 1rem 1rem 1rem;*/
	padding: 0;
}
/* svg width="1000" height="1000" */
/* 1000 = x/100 * 1000 => x = 100000/1000 = 100 */
.svg-square-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}
/* svg width="1800" height="900" */
/* 900 = x/100 * 1800 => x = 90000/1800 = 50 */

/* svg width="2200" height="400" */
/* 400 = x/100 * 2200 => x = 40000/2200 = 18,1818 */
/*.svg-landscape-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 18.1818%;
	vertical-align: middle;
	overflow: hidden;
}*/

/* svg width="2000" height="1000" */
/* 1000 = x/100 * 2000 => x = 1000/20 = 50 */
.svg-landscape-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	vertical-align: middle;
	overflow: hidden;
}
/* svg width="600" height="900" */
/* 900 = x/100 * 600 => x = 90000/600 = 150 */
/*.svg-portrait-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 150%;
	vertical-align: middle;
	overflow: hidden;
}*/
/* svg width="700" height="1000" */
/* 1000 = x/100 * 700 => x = 100000/700 = 142.857 */
.svg-portrait-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 142.857%;
	vertical-align: middle;
	overflow: hidden;
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
