html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #eee;
	background-color: #555;
}
/*
@media screen and (min-width: 601px) {
	html, body {
		font-size: 16px;
	}
}*/
/* Materialize CSS */
.container {
	background-color: #555;
	margin: 0 auto;
	/*max-width: 1280px;*/
	max-width: 1600px;
	width: 98%; /* 90%; */
	/*padding: 0 1rem 1rem 1rem;*/
}
@media only screen and (min-width: 993px) {
	.container {
		width: 96%;/*width: 90%;*/ /*70%;*/
	}
}

/* Menu styles: */

.nav h1 {
	margin: 0 0 0 64px;
	padding: 0;
	color: #000;
	/* ...materialize.css: */
	/*font-size: 4.2rem;*/
	/*line-height: 110%;*/
	/*margin: 2.8rem 0 1.68rem 0; */
}
.nav .hamburger {
	position: absolute;
	left: 16px;
	top: 16px;
	background: #222;
	border-radius: 50%;
	width: 48px;
	height: 48px; /*3em;*/
	text-decoration: none;
	text-align: center;
	color: #fff;
}
.nav .hamburger:hover {
	background: #000;
}
.nav .hamburger:focus { 
	outline: none; 
}

.nav .auth-button {
	position: absolute;
	right: 16px;
	top: 16px;
	background: #222;
	border-radius: 50%;
	width: 48px;
	height: 48px; /*3em;*/
	text-decoration: none;
	text-align: center;
	color: #fff;
}
.nav .auth-button:hover {
	background: #000;
}
.nav .auth-button:focus { 
	outline: none; 
}

/* Hamburger Icon (or close icon 'X') */
.nav a.hamburger i {
	/*font-size: 24px;*/
	margin-top: 7px;
	/*line-height: 1.4;*/
}
.nav a.auth-button i {
	margin-top: 7px;
}


/* We don't want to use UL LI default styles: */
.nav ul, .nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav li a {
	text-decoration: none;
}
/* Prevent H1 problems when JS is disabled */
.nav ul {
	overflow: hidden;
}
.nav ul {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}
.nav ul.open {
	max-height: 20em;
}
@media screen and (min-width: 500px) {
	.nav ul {
		overflow: auto;
		max-height: inherit;
	}
	.nav .hamburger {
		max-height: 0;
		overflow: hidden;
	}
}
.menu-navigation .menu-wrapper {
	margin-right: 1%; /*2%;*/ /* or maybe use 1.6 % ? */
	float: left;
	width: 100%;
}
.menu-item {
	background-color: #888;
	border: 1px solid #000;
	padding: 0.75em 0 0.75em 0;
	cursor: pointer;
	color: #fff;
	text-align: center;
	width: 100%;
	display: block;
	white-space: nowrap;
}
.menu-item.active {
	background-color: #fff;
	color: #000;
}
.menu-item:hover {
	background-color: #ddd;
	color: #00f;
	font-weight: bold;
}
/* Six columns: (100 - 5)/6 = 15.833 */
/* Seven columns: (100 - 6)/7 = 13.42857 */


@media screen and (min-width: 500px) {
	.menu-navigation .menu-wrapper {
		width: 13.42857%;
	}
	.menu-navigation .menu-wrapper:nth-child( 7n ) { 
		margin-right: 0;
	}
	.menu-navigation .menu-wrapper:nth-child( 7n+1 ) { 
		clear: left;
	}
}
.material-icons {
	vertical-align: bottom;
}

.content {
	padding: 16px;
	margin: 0;
	color: #ccc;
	background-color: #555;
}
.content h2 {
	margin: 16px 16px 0 16px;
}
.content h3 {
	margin: 16px 16px 0 16px;
}

.error-message {
	border: 1px solid #f88;
	background-color: #fcc;
	color: #a00;
	padding: 16px;
	text-align: center;
}
.success-message {
	border: 1px solid #8f8;
	background-color: #cfc;
	color: #0a0;
	padding: 16px;
	text-align: center;
}


/* D3 elements in InfluxView */
rect {
	fill: steelblue;
}
/*circle {
	fill: steelblue;
	opacity: 0.5;
	stroke: #fff;
}*/
text {
	/*font-size: 1.5em;*/
	font-family: sans-serif;
	fill: #eee;
}

.tick text {
	font-size: 1.2em;
	fill: #fff; /*#8e8883;*/
}
.tick line {
	stroke: #8e8883; /*#c0c0bb;*/
}
.axis-label {
	font-size: 2em;
	fill: #8e8883;
}
.title {
	font-size: 2.4em;
	fill: #8e8883;
	text-anchor: middle;
}
.line-path {
	stroke: #f00; /* in area case not needed */
	fill: none; /* in area case fill is not none */
	stroke-width: 3;
	stroke-linejoin: round;
}
.area-line-path {
	fill: #ff0;
	opacity: 0.5;
}
.fruit-label {
	fill: #fff;
	font-family: sans-serif;
	text-anchor: middle;
}
/*
.world-path {
	fill: #ff0;
	stroke: #000;
	stroke-opacity: 0.25;
}*/
.country {
	fill: #ff0;
	stroke: #000;
	stroke-width: 0.1px;
}
.country:hover {
	fill: #f00;
}
.sphere {
	fill: #55c;
}


.fed-path {
	fill: none;
	stroke: #57bdc3;
}
.fed-labels {
	/*font-size: 12px;*/
	text-shadow:
	-1px -1px 3px black,
	-1px  1px 3px black,
	 1px -1px 3px black,
	 1px  1px 3px black;
	 pointer-events: none; /* When you hover over text cursor does not change */
}


.legend-label {
	fill: #fff;
	font-family: sans-serif;
	text-anchor: middle;
}
